@model IEnumerable<F20ITONK.ASPNETCore.MicroService.ClassLib.Models.Recipe>

@{
    ViewBag.Title = "Recipe";
}

<header>
    <h1>
       Recipe
    </h1>
</header>

<table class="content-table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Decription
            </th>
            <th>
                Ingrediens
            </th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingrediens)
                </td>
            </tr>
        }

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
